
body {
    background-color: #ffffff;
    color: #000000;
  }


.Create, .Update  {
    background-color: #f6ff7e;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 500px;
  }

.Read, .Delete{
    background-color: #f6ff7e;
    padding: 15px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 500px;
  }
 


input, select {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #2e283f;
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: 300px;
  }

button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }

.videogamesArray li {
    padding: 4px 10;
    color: #000000;
  }

.Display {
    font-weight: bold;
    color: #000000;
    border-color: #c8eea8;
    padding: 8px;
    border-radius: 4px;
    max-width: 400px;
  }
